<div class="container">
  <a href="/about"><button class="btn btn-primary">About</button></a>
  <a href="/portfolio"><button class="btn btn-primary">Portfolio</button></a>
  <a href="/contact"><button class="btn btn-primary" id="here">Contact</button></a>
</div>

<h2>
  Contact
</h2>