.navbar {
  width: 20%;
}

.btn-primary {
  background-color: #ced4da;
  border: none;
  color: black;
  font-weight: 700;
  margin: 1em 0 0 1em;
  border-radius: 0.4em;
  width: 7em;
}

#here {
  color: white;
  background-color: #343a40;
}

#homePage {
  width: 6em;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-top: -3em;
}


h2 {
  font-weight: 700;
  margin: 1em 0 0 0.8em;
}